*{
  margin: 0;
  padding: 0;
  list-style-type: none;
	text-decoration: none;
}


a{
  color:white;
}

#wrap{
  margin:50px;
  width: 100%;
}

header{
  padding: 150px;
  background-color: #000000;
	color: white;
	background-image: url(images/title.png);
	background-repeat: no-repeat;
	background-position: center top;
	
}


  header h1{
	margin-right: auto;
  }
  header ul{
    margin-top: 100px;
    display: flex;
  }
  header li{
    width: auto;
    margin-right: 20px;
}

body {
	 margin-top: 50px;
  position: relative;
  background-color: #000000;
  color: #FFF;
  text-align: center;
}

article {
  background: #000000;
  padding: 20px;
  margin-bottom: 70px;  
}


footer {
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  background-color: #cab64a;
}
.footer-text {
  color: #fff;
}

.fade,
.fade2 {
  width: 160px;
  margin: 20px;
}

.row {
  position: relative;
}

#move {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
}

.fade2 {
  opacity: .2;
  transition: opacity, 1s;
}

.fade2:hover {
  opacity: 1;
}

/* contact
-----------------------*/
/*フォーム*/
form div {
	margin-bottom 20px;
}
label {
	font-size: 1.125rem;
	margin^bottom: 10px;
	display: block;
}
input[type="text"],
input[type="email"],
textarea{
	background: rgba(255,255,255,.5);
	border: 1px #fff solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 1rem;
}
input[type="text"],
input[type="email"] {
	width: 100%;
	max-width: 240px;
}
textarea {
	width: 100%;
	max-width: 480px;
	height: 6rem;
}
input[type="submit"] {
	border: none;
	cursor: pointer;
	line-height: 1;
}


/* about
-----------------------*/
img{
	max-width: 15%;
	
}
